.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    height: auto;
    background-color: rgb(255, 236, 236);
    border: 2px solid rgb(225, 137, 137);
    padding: 10px;
}

.shapes__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.title,
.title__description {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

.circle {
    fill: rgb(222, 132, 132);
    stroke: rgb(32, 151, 230);
    stroke-width: 5px;
    transition: 1s;
}

.circle:hover {
    fill: rgb(32, 151, 230);
    stroke: rgb(222, 132, 132);
    stroke-width: 10px;
}

.rectangle {
    fill: rgb(154, 154, 224);
    stroke: rgb(45, 136, 12);
    stroke-width: 5px;
    transition: 1s;
}

.rectangle:hover {
    fill: rgb(45, 136, 12);
    stroke: rgb(154, 154, 224);
    stroke-width: 10px;
}

.square {
    fill: rgb(80, 123, 80);
    stroke: rgb(198, 205, 7);
    stroke-width: 5px;
    transition: 1s;
}

.square:hover {
    fill: rgb(198, 205, 7);
    stroke: rgb(80, 123, 80);
    stroke-width: 10px;
}

.ellipse {
    fill: rgb(255, 0, 0);
    stroke: rgb(90, 0, 0);
    stroke-width: 5px;
    transition: 1s;
}

.ellipse:hover {
    fill: rgb(90, 0, 0);
    stroke: rgb(255, 0, 0);
    stroke-width: 10px;
}